@import "../../styles/variables.scss";

.recipe {
    height: 100vh;

    &__title {
        margin: auto;
    }

    &__item-intro {
        display: flex;
        align-items: center;
        padding: 20px 20px 0 20px;
    }

    &__back-icon {
        width: 30px;
        height: 30px;
    }

    &__icon {
        text-align: center;
    }

    &__icon svg {
        display: block;
        margin: auto;
    }

    &__short-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
    }

    &__info {
        background-color: #fff;
        border-radius: 60px;
        padding: 0 20px 30px;
    }

    &__item-ingredients {
        padding: 0;
        list-style-type: none;

        &::after {
            display: block;
            content: '';
            width: 80%;
            height: 2px;
            background-color: $color-border;
            margin: 20px auto 25px;

        }
    }

    &__ingredient {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    &__ingredients {
        list-style-type: none;
        padding: 0;
    }

    &__ingredients-title {
        text-align: center;
        margin-top: 0;
    }

    &__image-container {
        max-width: 85vw;
        margin: 20px auto 30px;
    }

    &__image {
        width: 100%;
    }

    &__item-image {
        max-width: 60vw;

        @media screen and (min-width: 1024px) {
            max-width: 80%;
        }
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;

        &__item {
            margin: 10px;
            padding: 5px;
            flex: 2 1 auto;
        }

        &__info {

            max-width: 47%;
            
            .recipe__short-info {
                display: none;
            }
        }

        &__ingredients-title {
            font-size: 35px;
            margin-top: 30px;
        }

        &__item-ingredients,
        &__steps {
            padding: 0 20px;
            font-size: 18px;
        }

    }
}