.recipe {
    background-color: #FEBD2F;

    &__info {
        background-color: #fff;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }

    &__ingredients {
        list-style-type: none;
        padding: 0;
    }

    &__image-container {
        max-width: 85vw;
    }

    &__image {
        width: 100%;
    }
}