@import "../../styles/variables.scss";

.recipe__form {
    display: flex;
    flex-direction: column;
}

.recipe {

    &__difficulty-title,
    &__category-title {
        margin-bottom: 10px;
    }

    &__difficulty-wrapper,
    &__category-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__difficulty-input {
        visibility: hidden;
        position: absolute;

        &:checked+.recipe__difficulty-name {
            background-color: $color-primary-card;
            border-radius: 8px;
            border: 1px solid $color-primary-card;
            color: #fff;
        }
    }

    &__category-input {
        visibility: hidden;
        position: absolute;

        &:checked+.recipe__category-name {
            background-color: $color-primary-card;
            border-radius: 8px;
            border: 1px solid $color-primary-card;
            color: #fff;
        }
    }

    &__difficulty-name,
    &__category-name {
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 1px solid $color-border;
    }

    &__difficulty-label,
    &__category-label {
        position: relative;
        display: block;
        min-width: 80px;

    }

    &__difficulty-icon {
        width: 22px;
        height: 22px;
    }

    &__form-intro {
        display: flex;
    }

    &__form-input {
        border-radius: 8px;
        border: 1px solid $color-border;
        padding: 8px;
        margin: 0;
        margin-bottom: 10px;
    }

    &__form-title {
        width: 100%;
        flex: 2 1 0;
    }

    &__form-quantity {
        width: 100%;
        margin-left: 10px;
        flex: 1 2 0;
    }

    &__form-time {
        width: 100%;
        flex: 1 2 0;
        margin-left: 10px;
    }

    &__form-text {
        border-color: $color-border;
        margin-bottom: 10px;
        border-radius: 8px;
        padding: 8px;
    }

    &__ingredients {
        display: flex;
    }

    &__product-wrapper {
        display: inline-block;
        padding: 7px;
        border: 1px solid $color-border;
        background-color: #dbdbdb;
        border-radius: 5px;
        margin-right: 10px;
    }

    &__products-wrapper {
        overflow-x: auto;
        width: 100%;
    }

    &__added-products {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }

    &__button-plus {
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
        margin-left: 10px;
        border: 1px solid $color-primary-card;
        background-color: $color-primary-card;
    }

    &__button-plus-icon {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    &__time {
        margin-left: 10px;
    }

    &__difficulty-title,
    &__part-title {
        margin-top: 0;
        margin-bottom: 10px;
        color: $color-subheader;
    }

    &__form-serving {
        max-width: 100px;
    }

    &__button-create {
        width: 200px;
        border: none;
        border-radius: 23px;
        background-color: $color-primary-card;
        font-size: 23px;
        padding: 7px;
        margin: auto;
        margin-top: 10px;
    }
}