@import "../../styles/variables.scss";

.recipe-preview-card {

    &__title {
        margin-bottom: 10px;
    }

    &__description {
        margin-top: 0;
        color: $color-subheader;
        font-size: 16px;
    }
}