@import "../../styles/variables.scss";

.recipe {
    &__search {
        padding: 10px;
        border: 1px solid $color-border;
        border-radius: 15px;
        min-width: 50vw;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}