@import "../../styles/variables.scss";

.recipes {

    padding-left: 20px;

    &__categories-container {
        padding: 20px;
        border: none;
        border-radius: 15px;
        height: 400px;
        background-color: $color-background;
    }

    &__categories-item {
        border: 1px solid $color-border;
        text-align: center;
        padding: 10px 55px;
        border-radius: 20px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;

        &::before {
            display: block;
            content: "";
            background: url('../../assets/icons/fork.svg') no-repeat;
            background-color: $color-white;
            background-position: center;
            border-radius: 50%;
            padding: 8px;
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        &:hover,
        &:checked,
        &:checked:hover {
            background-color: $color-primary-card !important;
        }

    }

    &__book {
        text-align: center;
    }

    &__desktop-image-container {
        display: none;
    }

    &__desktop-intro {
        display: none;
    }

    &__filters-and-previews {
        width: 100%;
    }

    &__container {
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        padding: 0 10px;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    &__item {
        display: flex;
        min-width: 240px;
        padding: 15px;
        border-radius: 25px;
        background-color: $color-primary-card;
    }

    @media screen and (min-width: 1024px) {
        display: flex;
        margin: 40px 0;

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: initial;
            grid-gap: 20px;
        }

        &__item {
            flex-flow: column;
            background-color: $color-white;

            &:hover {
                background-color: $color-text;

                .recipe-preview-card__title,
                .recipe-preview-card__list-item {
                    color: $color-white;
                }
            }
        }

        &__categories-container {
            display: flex;
            flex-flow: column;
        }

        &__book {
            font-size: 65px;
            margin: 0;
        }

        &__desktop-intro {
            background-color: $color-primary-card;
            display: block;
            min-height: 420px;
            margin: 20px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        &__desktop-image-container {
            width: 540px;
            display: block;
        }

        &__desktop-image {
            width: 100%;
        }
    }
}

.recipes__container::-webkit-scrollbar {
    width: 0;
}

// .recipes .snaps-inline {
//     scroll-snap-type: inline mandatory;
// }

.snaps-inline>* {
    scroll-snap-align: start;
}

.recipe {
    &__button-add {
        background-color: $color-primary-button;
        color: $color-white;
        display: block;
        margin: auto;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 25px;
        border: none;
    }

    &__button-add-icon {
        vertical-align: bottom;
        margin-left: 10px;
    }
}