@import "../../styles/variables.scss";

.recipes {

    padding-left: 20px;
    
    &__container {
        display: grid;
        gap: 50px;
        grid-auto-flow: column;
        padding: 0 10px;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    &__item {
        display: grid;
        min-width: 240px;
        width: 100%;
        padding: 15px;
        border-radius: 25px;
        background-color: $color-primary-card;
    }
}

.recipes__container::-webkit-scrollbar {
    width: 0;
}

.recipes .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: (10px, 1rem);
}

.snaps-inline>* {
    scroll-snap-align: start;
}

.recipes-book {
    text-align: center;
}

.recipe {
    &__button-add {
        background-color: $color-primary-button;
        color: $color-white;
        display: block;
        margin: auto;
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 25px;
        border: none;
    }

    &__button-add-icon {
        vertical-align: bottom;
        margin-left: 10px;
    }
}